.line {
	background: rgba(190, 190, 190, 1);
	height: 1px;
	width: 100%;
}




.services {


	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;
		color: #CC9933;
		padding-top: 35px;

		@media screen and (max-width: 900px){
			text-align: center !important;

		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		padding-bottom: 40px;

		img {
			width: 100%;
			max-height: 350px;
			object-fit: cover;
			object-position: top;

			margin-top: 40px;
		}
	}

	&__text {

		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;

	}


	&__grid {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 310px);
		justify-items: center;
		@media screen and (max-width: 1000px){
			grid-template-columns: repeat(2, 400px);
			justify-content: center;
			align-items: center;
			gap: 32px;
		}
		@media screen and (max-width: 870px){
			grid-template-columns: repeat(2, 350px);
			gap: 15px;
		}
		@media screen and (max-width: 730px){
			grid-template-columns: 100%;

		}
		gap: 15px;
		padding-bottom: 70px;
	}

}

.category {
	position: relative;
	height: 232px;
	max-width: 400px;
	width: 100%;
	display: block;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
	transition: all .3s ease-in-out;
	&:hover {
		.category__link {
			position: absolute;
			z-index: 6;
			right: 20px;
			bottom: 10px;
			opacity: 1;
		}
	}

	&__go &__title {
		padding-left: 10px;
		font-size: 20px;
	}

	&__link {
		position: absolute;
		z-index: 6;
		right: -7px;
		transition: all .2s ease-out;
		opacity: 0;
		bottom: 10px;

	}

	&__vector, &__dark, &__body {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__img {
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit: cover;
	}

	&__list {
		margin-left: 15px;
		margin-top: 10px;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		color: white;
	}

	&__vector {
		height: 100%;
		z-index: 3;
		width: 100%;
		background-image: url("img/VectorBG.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__body {
		z-index: 4;
		padding: 15px;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;
		color: white;
		border-bottom: 2px solid #CC9933;
		padding-bottom: 5px;
	}
}

.promo {
	position: relative;

	width: 100%;
	background-image: url("~/assets/img/ju3Dg_HTBqU.jpg");
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 870px) {
		height: 700px;
	}
	@media screen and (max-width: 590px) {
		height: 900px;
	}

	&__overlay {

		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .7);
		backdrop-filter: blur(10px);
		z-index: 2;
	}




	&__body {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		@media screen and (max-width: 870px) {
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
		}
		@media screen and (max-width: 590px) {
			grid-template-columns: repeat(1, 1fr);
			justify-content: center;

		}
		justify-content: space-between;
		margin-top: 30px;
		padding-bottom: 30px;
	}

	&__col {
		display: flex;
		gap: 15px;

	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: white
	}
	&__icon {
		display: block;
		height: 40px
	}

}


