.line {
	background: rgba(190, 190, 190, 1);
	height: 1px;
	width: 100%;
}


.header {

	&__list {
		padding-left: 20px;
		margin-top: 10px;
		list-style: none;
		margin-bottom: 20px;
		li::before {
			content: "•";
			font-size: 1.3em;
			/* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: #CC9933; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 0.8em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
	}

	&__title {
		font-weight: 400;
		margin-top: 20px;
		font-size: 30px;
		line-height: 38px;
		padding-right: 20px;
		padding-bottom: 5px;
		border-bottom: 3px solid #CC9933;
		width: fit-content;
	}

	&__text {
		margin: 10px 0;
	}

	&__subtitle {
		margin-top: 10px;
		&_left {
			font-style: normal;
			font-weight: 500;
			font-size: 24px;

			color: #CC9933;


			@media screen and (max-width: 900px) {
				font-size: 16px;
			}
		}
		&_right {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;



			@media screen and (max-width: 900px) {
				font-size: 20px;
			}
		}
	}
}

.services {

	&__category {
		width: 100%;
		height: 100%;

		&_lazy {
			height: 232px;
			max-width: 400px;
			width: 100%;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 38px;
		color: #CC9933;
		padding-top: 20px;

		@media screen and (max-width: 900px){
			text-align: center !important;

		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		padding-bottom: 40px;

		img {
			width: 100%;
			max-height: 350px;
			object-fit: cover;
			object-position: top;

			margin-top: 40px;
		}
	}

	&__text {

		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;

	}


	&__grid {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 310px);
		justify-items: center;
		@media screen and (max-width: 1000px){
			grid-template-columns: repeat(2, 400px);
			justify-content: center;
			align-items: center;
			gap: 32px;
		}
		@media screen and (max-width: 870px){
			grid-template-columns: repeat(2, 350px);
			gap: 15px;
		}
		@media screen and (max-width: 730px){
			grid-template-columns: 100%;

		}
		gap: 15px;
		padding-bottom: 30px;
	}

}

.category {
	position: relative;


	height: 232px;
	max-width: 400px;
	width: 100%;
	display: block;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
	transition: all .3s ease-in-out;
	@media screen and (min-width: 900px){
		&:hover {
			.category__link {
				position: absolute;
				z-index: 6;
				right: 20px;
				bottom: 10px;
				opacity: 1;
			}
		}
	}


	&__go &__title {
		padding-left: 10px;
		font-size: 20px;
	}

	&__link {
		@media screen and (max-width: 900px){
			right: 20px;
			opacity: 1;
		}
		position: absolute;
		z-index: 6;
		right: -7px;
		transition: all .2s ease-out;
		opacity: 0;
		bottom: 10px;

	}

	&__vector, &__dark, &__body {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__img {
		width: 100%;
		height: 100%;
		z-index: 1;
		object-fit: cover;
	}

	&__list {
		margin-left: 15px;
		margin-top: 10px;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		color: white;
	}
	&__dark {
		background: rgba(0, 0, 0, 0.30);
		height: 100%;
		width: 100%;
	}
	&__vector {
		height: 100%;
		z-index: 3;
		width: 100%;
		background-image: url("img/VectorBG.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__body {
		z-index: 4;
		padding: 15px;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;
		color: white;
		border-bottom: 2px solid #CC9933;
		padding-bottom: 5px;
	}
}

.promo {
	position: relative;

	width: 100%;
	height: 500px;
	//background-image: url("~/assets/img/ju3Dg_HTBqU.jpg");
	//background-size: cover;
	//background-position: center center;
	@media screen and (max-width: 870px) {
		height: 800px;
	}
	@media screen and (max-width: 590px) {
		height: 850px;
	}
	@media screen and (max-width: 425px) {
		height: 950px;
	}
	@media screen and (max-width: 380px) {
		height: 1050px;
	}

	@media screen and (max-width: 345px) {
		height: 1150px;
	}
	&__overlay {

		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .65);
		backdrop-filter: blur(5px);
		z-index: 2;
	}




	&__body {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		@media screen and (max-width: 870px) {
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
		}
		@media screen and (max-width: 590px) {
			grid-template-columns: repeat(1, 1fr);
			justify-content: center;

		}
		justify-content: space-between;
		margin-top: 30px;
		padding-bottom: 30px;
	}

	&__col {
		display: flex;
		gap: 15px;

	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: white
	}
	&__icon {
		display: block;
		height: 40px
	}

}


