.service {

	padding-top: 100px;

	&__promo {
		display: flex;
		gap: 54px;
	}



	&__img img {
		max-width: 473px;
		height: 401px;
		object-fit: cover;
		margin-top: 30px;
	}

	&__back-btn {
		display: flex;
		align-items: center;
		border: 0;
		background: none;
		gap: 8px;
		cursor: pointer;
		margin-bottom: 5px;
		span {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 35px;
			color: #696969;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 38px;
		padding-bottom: 3px;
		border-bottom: 2px solid #CC9933;
		margin-bottom: 10px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height:25px;
		margin-bottom: 20px;
	}

	&__time {
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 38px;
	}

	&__price {
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 38px;
		color: #CC9933;
	}

	&__btn {
		padding: 10px 15px;
		border: 2px solid #CC9933;
		border-radius: 7px;
		background: none;
		cursor: pointer;
		color: #CC9933;
		font-weight: 500;
		transition: 0.2s ease-in-out;
		margin-bottom: 30px;
		&:hover {
			background: #CC9933;
			color: white;
		}
	}

}